{% extends 'base.html.twig' %}
{% block main %}
    <div class="text-center pt-5 pb-5">
        <h2>{{ 'author'|trans|capitalize }}</h2>

        {% include 'author/_form.html.twig' with { 'action' : path("app.author.edit", { 'id': author.id }), 'author' : author, 'errors' : null } %}

    </div>
{% endblock %}