{% extends 'base.html.twig' %}
{% block main %}
    <div class="text-center pt-5 pb-5">
        <h2>{{ 'authors'|trans|capitalize }}</h2>
        {% include 'author/table_list.html.twig' with {'hasCrudAction':true} %}

        <div class="div-buttons">
            <a href="{{ path('app.author.create') }}" class="btn btn-bibliotech">{{ 'create'|trans|capitalize }}</a>
        </div>

        {% include 'partials/_msg.html.twig' %}

    </div>
{% endblock %}