{% extends 'base.html.twig' %}
{% block main %}
    <div class="text-center pt-5 pb-5">
        <h2>{{ 'category'|trans|capitalize }}</h2>

        {% include 'category/_form.html.twig' with { 'action' : path("app.category.edit", { 'id': category.id }), 'author' : category, 'errors' : null } %}

    </div>
{% endblock %}