<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">Bibliotech is a fake app</div>
            <div class="col-6 text-end">by Damecode</div>
        </div>
    </div>
</footer>