{% extends 'base.html.twig' %}
{% block main %}
    <div class="app-title-welcome-container text-center pt-5 pb-5">
        <span class="app-title-welcome big-msg text-center">
            {{ 'welcome to bibliotech'|trans }}
        </span>
    </div>
{% endblock %}