{% extends 'base.html.twig' %}
{% block main %}
    <div class="text-center pt-5 pb-5">
        <h2>{{ 'store'|trans|capitalize }}</h2>
        {% include 'store/table_list.html.twig' with {'hasCrudAction':true, 'hasUnitsColumn':false} %}

        <div class="div-buttons">
            <a href="{{ path('app.store.create') }}" class="btn btn-bibliotech btn-create">{{ 'create'|trans|capitalize }}</a>
        </div>

        {% include 'partials/_msg.html.twig' %}

    </div>
{% endblock %}