{% extends 'base.html.twig' %}
{% block main %}
    <div class="text-center pt-5 pb-5">
        <h2>{{ 'stock'|trans|capitalize }}</h2>

        {% include 'stock/_form.html.twig' with { 'action' : path("app.stock.create"), 'errors' : null } %}

    </div>
{% endblock %}